/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Component Styles
  5. Page Styles
======================================== */

/* 1. Global Styles
======================================== */

@font-face {
  font-family: Orbitron, sans-serif;
  src: url(/fonts/static/Orbitron-Regular.ttf);
}

* {
    box-sizing: border-box;
}
  
html {
    margin: 0 0;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0 0;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    background-color: #212a2c;
}

 /* 2. Typography Styles
  ======================================== */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 15px;
    /*transition: font-size 0.25s ease;*/
  }
  h1 {
    font-size: calc(100px / 1.5);
    line-height: 0.85;
  }
  h2 {
    font-size: calc(65px / 1.5);
    margin-top: 10px;
    line-height: 0.85;
  }

  @media(min-width: 1024px) {
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 60px;
    }
  }

  @media(max-width: 1024px) {

    h1, h2 {
      font-size: calc(65px / 1.25);
    }

  }

  @media(max-width: 580px) {
    h1 {
      font-size: calc(65px / 1.5);
    }
  }
  
  @media(max-width: 440px) {

    h1 {
      font-size: calc(65px / 2);
    }

    h2 {
      font-size: calc(65px / 1.75);
    }
  }

  p {
    font-size: 16px;
    margin: 0 0 15px;
  }

  li a {
    font-size: 22px;
    color:#a87bff;
    text-shadow: 1px 1px black;
    font-weight: 700;
  }

  li a:hover {
    color: #ff1a1a;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  h1, h2, a {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.15em;
    line-height: 1.15;
  }

  .paragraph-container p, .photo-hero p, .contact p a {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1em;
  }
  .paragraph-container p, .photo-hero p, .contact p a {
    font-size: 24px;
    line-height: 1.1;
  }
  
  p a {
    color: #a87bff;
    text-decoration: none;
    text-shadow: .5px .5px black;
    font-weight: 700;
  }

  p a:hover {
    color: #ff1a1a;
  }

  .read-more {
    font-family: 'Orbitron', sans-serif !important;
    font-size: 2em !important;
  }

  /* 3. Structure Styles
  ======================================== */

  nav {
    margin: 0 auto;
    max-width: 1280px;
    padding: 30px 1em;
  }

  .container {
    margin: 0 0;
    max-width: 100%;
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) ) ;
    grid-auto-rows: 500px;
    row-gap: 50px;
  }

  .project-left, .project-right {
    border: 4px solid #fffa86;
    border-radius: 70px; 
  }

  .project-left img, .project-right img {
    width: 100%;
    height: 70%;
    border-radius: 70px 70px 0 0;
  }

  .paragraph-container {
      display: flex;
      max-height: 30%;
      padding: 0.5% 9% 0% 9%; 
      margin-bottom: 10%;
      overflow: hidden;
      border-radius: 0 0 70px 70px;
      position: relative;
  }

  .paragraph-container p {
      overflow-y: hidden;
  }

  #eggs-p {
    overflow-y: hidden;
  }

  .read-more {
      position: absolute;
      right: -2%;
      bottom: -12%;
      z-index: 10;
      border-radius: 15px 0 0 0;
  }

  .project-left {
      grid-column: 1 / span 7;
  }

  .project-right {
      grid-column: span 7 / -1;
  }

  @media(max-width: 1024px) {
    .container {
      grid-auto-rows: 400px;
    }

    .project-left {
      grid-column: 1 / span 6;
    }

    .project-right {
      grid-column: span 6 / -1;
    }
}

  @media(max-width: 720px) {
    .project-left {
      grid-column: 1 / span 5;
    }

    .project-right {
      grid-column: span 5 / -1;
    }
  }

  @media(max-width: 500px) {
    .container {
        grid-auto-rows: 300px;
    }

    h1 {
      letter-spacing: 0.1em;
    }
  }

  @media(max-width: 440px) {

    .container {
      padding-left: 15px;
    }
  }

  .site-header {
    display: inline-block;
    float: right;
    margin-bottom: 15px;
  }
  .site-header li,
  .footer li {
    display: inline;
  }
  .site-header li a {
    text-decoration: none;
    margin-left: 20px;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
  }

 /* 4. Component Styles
  ======================================== */  

 /* 5. Page Styles
  ======================================== */
  .photo-hero {
    min-height: 700px;
  }
  .photo-hero-text {  
    padding: 0 20px;
  }
  .photo-hero h1 {
    color: #cccdff;
    text-shadow: 3px 3px black;
    margin: 1em 0 40px;;
  }
  
  .photo-hero p {
    color: #cccdff;
    text-shadow: 1.5px 1.5px black;
    margin-bottom: 30px;
  }
  
  .projects-grid h2, .contact h2 {
    margin: 50px 8%;
    color: #cccdff;
    text-shadow: 2px 2px black;
  }

  .contact p a {
    margin: 0 0 50px 8%;
    color: #a87bff;
  }

  .contact p a:hover {
    color: #ff1a1a;
  }

  .image-link:hover {
    opacity: 0.6;
  }

  .paragraph-container {
    background-color: #fffa86;
  }

  .paragraph-container p {
    color: #212a2c;
  }

  .read-more {
    background-color: #a87bff;
    color: #fffa86 !important;
    padding-left: 1.5%;
  }

  .read-more:hover {
    background-color: #ff1a1a;
  }

  .photo-grid {
   
  }


  footer {
    /*font-family: "Open Sans", Helvetica, sans-serif;*/
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: black;
  } 

  @media(max-width: 1024px) {

    .paragraph-container p, li a {
        font-size: 22px;
    }
  }

  @media(max-width: 720px) {

    .paragraph-container p, li a {
        font-size: 18px;
    }
  }

  

  